*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: Arial, sans-serif;
}

.button{
    padding: 10px;
    border-radius: 15%;
}

ul{
    list-style-type: none;
}

.do{
    font-size: 0.5rem;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
}
/* HEADER */
header{
    height: 80px;
    line-height: 80px;
}

#header-logo{
    height: 50px;
    margin: 10px 0 10px 15px;
    vertical-align: middle;
}

.header-title{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
}

/* MAIN */
.container{
    background-color: lightslategray;
    padding: 10px;
}
main{
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

.navigation{
    padding: 10px 0 5px 15px;
    margin: 10px 0 5px 20px;
}
.addtask{
    background-color: cyan;
    color: white;
}
.addsection{
    background-color: white;
    color: grey;
}

/* TO DO LIST */

.main-list{
    padding: 10px 0 5px 15px;
}

.triangle{
    font-size: 0.6rem;
    vertical-align: middle;
}

.check{
    border: 1px solid green;
    color: green;
}

.cross{
    border: 1px solid red;
    color: red;
}